body{
	background-color: #f2f2f2;
}

.btn{
	width: 100%;
}

.login{
	margin:50px 20px;
	height: 500px;
	max-width: 350px;
	border-radius: 10px;
	background-color: #ffffff;
	box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
	padding: 77px 40px 33px 40px;
}

.title{
	font-family: Poppins-Bold;
	font-size: 30px;
	color:#333333;
	line-height: 1.2;
	font-weight: 400;
}